
<h1>Welcome {{ name }}</h1>
{{#if todos}}
<h2>You have Todos</h2>
<ul>
    {{#each todos}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{else}}
<p>No Todos 🙃</p>
{{/if}}
{{!-- {{#with address}}
<p>{{street}} at {{number}}</p>
{{/with}} --}}

<p>{{address.street}} at {{address.number}}</p>